{
  "mqtt_host": "mqtts://mqtt.singularity.net",
  "mqtt_options": {
      "port": 1883,
      "username": "someusername",
      "password": "somepassword",
      "rejectUnauthorized": false
  },
  "topic_namespace": "home/harmony",
  "hubs": [
      {
          "ip": "harmonyhub.singularity.net",
          "name": "Living Room"
      }
  ]
}

