.HA_VERSION
.uuid
*.db-journal
.adbkey
.google_maps_location_sharing.cookies

core
known_devices.yaml
entity_registry.yaml
google_calendars.yaml
secrets.yaml
*.conf
*.pickle
*.token

deps/
tts/

OZW_Log.txt
pyozw.sqlite
zwcfg*.xml
zwscene.xml
options.xml

.insteon_cache/
.cloud/
.storage/
